<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>B站评论分析</title>

    <!-- ECharts -->
    <script src="/static/js/echarts.min.js"></script>

    <style>
        body {
            font-family: Arial,serif;
            margin: 40px;
        }

        input {
            padding: 8px;
            width: 250px;
        }

        button {
            padding: 8px 15px;
            margin-left: 10px;
            cursor: pointer;
        }

        #chart {
            margin-top: 40px;
            width: 900px;
            height: 500px;
        }
    </style>
</head>

<body>
<div class="mainpart">
    <h2>B站评论爬虫 + 热度分析</h2>

    <!-- 输入：新BV -->
    <input type="text" id="bvInput" placeholder="输入新BV">

    <button onclick="crawl()">开始爬取并下载</button>
    <button onclick="loadChart()">查看热度趋势</button>

    <!-- 下拉：已有BV -->
    <select id="bvSelect" onchange="selectBV()">
        <option value="">选择已有BV</option>
    </select>

    <!-- HTML爬取进度条 -->
    <div id="progressBox" style="display:none; margin-top:20px;">
        <div style="background:#eee; border-radius:10px;">
            <div id="bar" style="width:0%; height:20px; background:#4facfe;"></div>
        </div>
        <p id="text">0%</p>
    </div>

    <div id="chart"></div>
</div>

<script>
// 获取本地的bv
function loadBVList() {
    fetch('/api/bv_list')
        .then(res => res.json())
        .then(data => {
            const select = document.getElementById("bvSelect")
            select.innerHTML = "<option value=\"\">选择已有BV</option>";

            // 动态添加option
            data.forEach(bv => {
                const option = document.createElement("option");
                option.value = bv;
                option.textContent = bv;
                select.appendChild(option);
            });
        });
}

// 下拉选择并填入输入框
function selectBV() {
    document.getElementById("bvInput").value
        = document.getElementById("bvSelect").value
}



// 爬虫接口
async function crawl() {
    const bv = document.getElementById("bvInput").value;

    await fetch('/crawl/start', {
      method: 'POST', // 显式声明 POST 方法
      body: new URLSearchParams({ bv: bv }) // 生成 form-data 格式的参数
    });

    document.getElementById("progressBox").style.display = "block";

    pollProgress();
}

// 查询现在的爬取进度
function pollProgress() {
    const timer = setInterval(async () => {
        const res = await fetch(`/crawl/progress`);
        const data = await res.json();

        if (data.current_BV == null){
            document.getElementById("text").innerText = "完成！";
            clearInterval(timer);
            return;
        }

        document.getElementById("bar").style.width = data.percent + "%";
        document.getElementById("text").innerText =
            `crawling: ${data.current_BV} have fetched: ${data.fetched}/${data.total} (${data.percent}%)`;
        loadBVList()

    }, 1000);
}

let chart = echarts.init(document.getElementById('chart'))

// 加载图表
async function loadChart() {
    const bv = document.getElementById("bvInput").value

    if (!bv) {
        alert("请输入BV号")
        return
    }

    const res = await fetch(`/api/heat_analysis?bv=${bv}`)
    const data = await res.json()

    if (data.error) {
        alert(data.error)
        return
    }

    chart.setOption({
        title: {
            text: '评论热度趋势'
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            type: 'category',
            data: data.dates
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '评论数',
            data: data.counts,
            type: 'line',
            smooth: true
        }]
    })
}

// 页面初始化
window.onload = loadBVList;

// 自适应窗口
window.addEventListener("resize", () => {
    chart.resize()
})
</script>

</body>
</html>